@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body {
    font-family: "PT Sans", sans-serif;
    background-color: rgb(236, 136, 136);
    background-image: url("https://images.pexels.com/photos/2603464/pexels-photo-2603464.jpeg?auto=compress&cs=tinysrgb&w=600");
    margin: 0;
  }
  